@import 'footer';
@import './themes/theme-1';
@import './themes/theme-2';
@import './themes/theme-3';

* {
    padding: 0;
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc {
    display: grid;
    grid-template-rows: 0.2fr 0.4fr 1fr;
    gap: 25px;
    width: 50%;
    height: 70%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: smaller;
}

.choose-theme {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    &__scroller {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 0px;
        margin-left: 20%;
        .numbers {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;
        }
    }
}

.calc-window {
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
        .result {
            font-size: 2.3rem;
            display: flex;
            justify-content: flex-end;
        }
        .previous-num {
            font-size: 1.5rem;
            display: flex;
            justify-content: flex-end;
        }
    padding-right: 6%;
    height: 100%;
}

.active {
    pointer-events: none;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.line {
    display: flex;
    justify-content: space-between;
}

.line button {
    width: 21%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    padding: 1%;
    font-weight: bolder;

    &:hover {
        cursor: pointer;
    }
}

.line:last-child button{
    width: 48%;
}

.chooser {
    width: 35px;
    height: 8px;
    border: none;
    border-radius: 35px;
    padding: 3px;
    display: flex;
    align-items: center;
}

.circle {
    display: block;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    z-index: 1000;
}

@import 'media';